
h1{
	
	text-align: center;
	color: #6B705C;
}

h3{ 
	
	text-align: center;
	color: #CB997E;
 }

p {
	font-family: 'Merriweather', serif;
	text-align: center;
	color: #86792c;
}
h4{ 
	text-align: center;
	font-family: 'Playfair Display', serif;
}
ul{
	font: 'Merriweather', serif;
	color: #83c5be;
}

h5{
	font: 'Merriweather', serif;
	text-align: center;
	color: #6c584c;
}

li{
	text-align: center;
	list-style: none;
	color: #d90429;

}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-color: #f0ead2;
}




