
h1{
	font-family: 'Merriweather', serif;
	text-align: center;
	color: #6B705C;
}

h3{ 
	font-family: 'Merriweather', serif;
	text-align: center;
	color: #CB997E;
 }

p {
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #86792c;
}
h4{ 
	font-family: 'Playfair Display', serif;
	text-align: center;
}
ul{
	font: Barlow Condensed;
}

h5{
	font: Josefin Sans;
	text-align: center;
	color: #6c584c;
}

li{
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-color: #f0ead2;
}




